<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Hello word!</h1>
  <p>
    Prueba Ionic
  </p>

  <ion-list>
    <ion-item *ngFor="let item of lists">
      {{item.name}}
    </ion-item>
  </ion-list>

  <ion-card>
    <img src="https://ionicframework.com/img/meta/ionic-framework-og.png"/>
    <ion-card-content>
      <ion-card-title>
        Nine Inch Nails Live
        </ion-card-title>
      <p>
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://ionicframework.com/img/meta/ionic-framework-og.png"/>
    <ion-card-content>
      <ion-card-title>
        Nine Inch Nails Live
        </ion-card-title>
      <p>
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://ionicframework.com/img/meta/ionic-framework-og.png"/>
    <ion-card-content>
      <ion-card-title>
        Nine Inch Nails Live
        </ion-card-title>
      <p>
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>
  </ion-card>

  <button ion-button (click)="goToUsersPage()">Usuarios</button>
</ion-content>
