<!--
  Generated template for the UsersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>users</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1>Hello word users!</h1>

  <button ion-button (click)="goToListsPage()" >Listas</button>


</ion-content>
